<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/about.css">
</head>
<body>
    <div class="content">
        <h1>Hi, I’m Tomas Gonzalez Zalazar</h1>
        <h2>Software Developer</h2>
        <p> I'm 15 years old, and I am a software developer based in Córdoba, Argentina. I have a passion for creating efficient and scalable web applications. I study at the ProA technical school, specializing in software development and robotics. I specialize in full-stack development and enjoy working with modern technologies to build innovative solutions.</p>
    </div>
</body>
</html>